# Secret с секретными переменными окружения Admin Module
# DB credentials + Keycloak client credentials
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "am.fullname" . }}-secret
  labels:
    {{- include "am.labels" . | nindent 4 }}
type: Opaque
stringData:
  # --- PostgreSQL credentials ---
  AM_DB_USER: {{ .Values.database.user | quote }}
  AM_DB_PASSWORD: {{ .Values.database.password | quote }}
  # --- Keycloak credentials ---
  AM_KEYCLOAK_CLIENT_ID: {{ .Values.keycloak.clientId | quote }}
  AM_KEYCLOAK_CLIENT_SECRET: {{ .Values.keycloak.clientSecret | quote }}
